<!doctype html>
<html class="no-js">
  {{> head}}
  <body class="{{#if paths.dir}}{{stem paths.href}}-page{{else}}{{paths.name}}-page{{/if}}{{#if paths.dir}} {{segments paths.dir '0' '1'}}-route{{/if}}">
    <div id="article-count">
</div>
<div id="custom-sentence">
</div>
<div id="tags"><h4>Tags: </h4>
</div>

<div id="cover-walkthrough">

  <div class="question-step">
    <h2>I only have</h2>
    <table>
      <tr><td><button data-target-tags="250-300words">2 minutes</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="650words">5 minutes</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="2,000words">20 minutes</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="1billionwords">All day</button></td> <td> More info more info</td></tr>
    </table>
  </div>

  <div class="question-step">
    <h2>I'm in the mood for something</h2>
    <table>
    <tr><td><button data-target-tags="trump">About what Trump is up to</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="anything">Anything but what Trump is up to</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="explainer">I should probably know more about</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="better">To help me be better at life</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="world">Going on in another country</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="animals">That involves cute animals</button></td> <td> More info more info</td></tr>
    </table>
  </div>

  <div class="question-step">
    <h2>That I can</h2>
    <table>
    <tr><td><button data-target-tags="video">Watch</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="text">Read</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="galleries">No words, just pictures</button></td> <td> More info more info</td></tr>
    <tr><td><button data-target-tags="anything">I don't care, just give me something</button></td> <td> More info more info</td></tr>
    </table>
  </div>


</div>

<div id="relevant-articles">
</div>
{{> @partial-block }}
    {{> scripts}}
  </body>
</html>
