html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-sans;
}

.wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

#cover-walkthrough {
  padding-bottom: $gutter * 2;
}

#tags {
  font-family: monaco;
  line-height: 1.1em;
  width: 100%;
  padding: 0.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
}

#tags h4 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

a {
  color: #000552;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.questions {
  border-top: 1px solid $almost-white;
}

.question {
  display: flex;
  border-bottom: 1px solid $almost-white;
  align-items: center;

  div {
    padding: $gutter;
  }

  div:first-child {
    padding-right: $gutter;
    width: 100%;
    max-width: 130px;
  }

  button {
    @include arrow('right','center', 5px, $almost-white);

    background-color: $almost-white;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    padding: $gutter;
    width: 100%;
    cursor: pointer;
    text-align: left;
    position: relative;

    &:disabled {
      opacity: 0.2;
    }

    &:hover {
      @include arrow('right','center', 5px, $blue);

      background-color: $blue;
      color: #fff;
    }
  }
}

.question-step {
  display: none;

  h2 {
    margin-bottom: $gutter;
    font-size: 14px;
    font-weight: bold;

    &::after {
      content: "...";
    }
  }
}

.loading-sequence h2 {
  margin-bottom: $gutter;
}

.is-active {
  display: block;
}

#relevant-articles {
  list-style: none;

  li {
    border-bottom: 1px solid $almost-white;
    padding: $gutter;
  }
}

#article-count,
#custom-sentence,
#custom-sentence p {
  display: inline;
}

.sentence-wrapper {
  padding: $gutter;
  background-color: $almost-white;
  font-size: 14px;
}

.count-num {
  font-weight: bold;
}

.reset {
  float: right;
  border: 1px solid $almost-white;
  background-color: transparent;
}
