html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-sans;
}

#custom-sentence {
  padding: 1em;
  background-color: #ccc;
  font-size: 1.5em;
}

#article-count {
  text-align: center;
}

#tags {
  font-family: monaco;
  line-height: 1.1em;
  width: 100%;
  padding: 0.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
}

#tags h4 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

#cover-walkthrough {
  max-width: 420px;
}

#cover-walkthrough button {
  display: block;
  padding: 1em;
  width: 100%;
}

.question-step {
  margin-bottom: 90px;
}

.question-step {
  display: none;
}

.is-active {
  display: block;
}

.question-step h2:after {
  content: "...";
}

.question-step td {
  width: 200px;
}
